<!DOCTYPE html>
<html>

<head>
  <title>About</title>
  <link rel="icon" href="/img/weather.png">
  <link rel="stylesheet" href="/css/styles.css">
  <script src="/js/app-public.js"></script>
</head>


<body>
  <div class="main-content">
    {{>header}}
    <p>This site was created by Yair Abranyi. 
      The site provides weather conditions via backend server that gets the data from Darkskay.net</p>
    <img class="portrait" src="/img/yair1.jpg">
  </div>
  {{>footer}} 
</body>

</html>